

<%
function getPizzaContent(obj){
    var result = [];
    Object.keys(obj).forEach(function (key) {
        var arr = obj[key];
        arr.forEach(function(it){
            result.push(it);
        })
    })
    return result.join(', ');
}


%>


<div class="col-sm-6 col-md-3" style="height: 550px" data-type="<%=type%>">
    <div class="thumbnail pizza-card">

        <img src="<%=icon%>">
        <div class="caption">
            <h3><%=title%></h3>
            <p></p>

            <p>Склад:
                <%=getPizzaContent(content)%>
            </p>

            <div class="row no-padding">

                <%if (locals.small_size) {%>

                <div class="col-xs-6 no-padding">
                    <div class="text-center">
                        <div class="diam"></div>
                        <span><%=locals.small_size.diam%></span>
                    </div>
                    <div class="text-center">
                        <div class="weight"></div>
                        <%=locals.small_size.weight%>
                        <div class="price">  <%=locals.small_size.price%> грн </div>
                    </div>
                    <a data-action="addSmall" data-id="<%=id%>" href="#" class="btn btn-warning">Купити</a>
                </div>

                <%}%>

                <!--<%if (locals.big_size) {%>-->

                <div class="col-xs-6 no-padding">
                    <div class="text-center">
                        <div class="diam"></div>
                        <span><%=locals.big_size.diam%></span>
                    </div>
                    <div class="text-center">
                        <div class="weight"></div>
                        <%=locals.big_size.weight%>
                        <div class="price">  <%=locals.big_size.price%> грн </div>
                    </div>
                    <a data-action="addLarge" data-id="<%=id%>" href="#" class="btn btn-warning">Купити</a>
                </div>

                <!--<%}%>-->

            </div>




        </div>
    </div>
</div>