


<div class="buylist-item" data-id="<%=item.id%>">
    <div class="pizza-name">
        <%=item.title%>
        (<%=type=='small'?'Мала':'Велика'%>)
    </div>
    <div>
        <div class="diam"></div>
        <span>22</span>
        <div class="weight"></div>
        44
    </div>
    <div>
        <span>12грн</span>
        <button class="substract" data-action="substract" data-id=""<%=item.id%>>-</button>
        <span data-item="quantity"><%=quantity%></span>
        <button class="plus" data-action="plus" data-id="<%=item.id%>">+</button>
        <button class="closer">x</button>
    </div>
    <img class="item-image" src="assets/images/pizza_2.jpg">
</div>